openapi: 3.0.0
info:
  title: wfm
  version: 1.0.0
servers:
  - url: https://echo.gamma.cloud.agyletime.net
  - url: https://api-au.gamma.cloud.agyletime.net
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Authority
  - name: Capacity Planner
paths:
  /api/authority/token:
    post:
      tags:
        - Authority
      summary: Generate Token
      requestBody:
        content: {}
      security:
        - basicAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /capacity-planner/configuration:
    post:
      tags:
        - Capacity Planner
      summary: Create Planner
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: |-
                {
                  "startDate": "{{$isoTimestamp}}",
                  "endDate": "2023-07-01T10:59:59.999Z",
                  "rosterConfigurationId": [{ "_id": "{{rosterId}}" }],
                  "timezone": "Australia/Melbourne",
                  "forecastId": {{forecastId}},
                  "defaultPlannedLeaveTargetPercentage": 1,
                  "defaultUnplannedLeaveTargetPecentage": 2,
                  "defaultShrinkageTargetPercentage": 3,
                  "attritionTargetPercentage": 4,
                  "unitOfWork": "FTE",
                  "paidHoursPerDay": 0,
                  "paidHoursPerWeek": 0,
                  "name": "{{$randomWord}} {{$timestamp}}",
                  "description": "description for capacity planner",
                  "businessRoles": [],
                  "scenarios": [],
                  "shrinkageAdjustments": [],
                  "unplannedLeaveAdjustments": [],
                  "plannedLeaveAdjustments": []
                }
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /capacity-planner/configuration/{plannerId}:
    get:
      tags:
        - Capacity Planner
      summary: Retrieve Planner - Warnings
      security:
        - bearerAuth: []
      parameters:
        - name: plannerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Capacity Planner
      summary: Delete Planner
      security:
        - bearerAuth: []
      parameters:
        - name: plannerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Capacity Planner
      summary: Update Planner
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: |-
                {
                  "startDate": "2022-07-01T10:00:00.000Z",
                  "endDate": "2023-07-01T10:59:59.999Z",
                  "rosterConfigurationId": [{ "_id": "{{rosterId}}" }],
                  "timezone": "Australia/Sydney",
                  "forecastId": {{forecastId}},
                  "defaultPlannedLeaveTargetPercentage": 5,
                  "defaultUnplannedLeaveTargetPecentage": 6,
                  "defaultShrinkageTargetPercentage": 7,
                  "attritionTargetPercentage": 8,
                  "unitOfWork": "FTE",
                  "paidHoursPerDay": 0,
                  "paidHoursPerWeek": 0,
                  "name": "{{$randomWord}} {{$timestamp}}",
                  "description": "description for capacity planner",
                  "businessRoles": [],
                  "scenarios": [],
                  "shrinkageAdjustments": [],
                  "unplannedLeaveAdjustments": [],
                  "plannedLeaveAdjustments": []
                }
      security:
        - bearerAuth: []
      parameters:
        - name: plannerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /capacity-planner/configuration/{plannerId}/monthly:
    get:
      tags:
        - Capacity Planner
      summary: Retrieve Planner - Monthly
      security:
        - bearerAuth: []
      parameters:
        - name: plannerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
